html, body{
	
	margin:0;
	padding: 0;
	display: flex;
  flex-direction: column;  
  
}
h1{ 
color:black;
}
h2{
color:black;
}
main{
  margin:0px;
  padding:0px;
  font-size: 100%;
  background-image: url("../img/Marble-Background.png");
  color: #909090;
  min-height: 100vh;
  padding-bottom: 2em;
}
#navbar{
 position:fixed;
  display:fixed;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width:99%;
  height: 40px;
  z-index:1;
  font-family:lobster, Brush Script MT, fantasy;
  background-color: #c5c2c28f;
}
header{
  padding-bottom:20px;
  padding-left: 0%;
  margin-top:0px;
}
header::after{
content:"";
  display:table;
  clear:both;
}
nav{
float:right;
margin-right: 50px;
}
.logo{
  display: inline-block;
  vertical-align:top;
  width: 20px;
  height: 20px;
  color: #6a6a6a;
  margin-left: 50px;
}
nav a {
    color: #4e4e4e;
}
nav li{
  display: inline-block;
  margin-left: 80px; 
}
nav a:hover{
  display: inline-block;
  color:black;
}
#welcome-section{
  width:90%;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:center;
  font-family: Roboto Mono;
  background-color:white;
  height: 100vh;
}

#selfPhoto{
  float:left;
  width: 50vh;
  height: 100%;
  margin: auto;
  padding-right: 25%;
}

#selfphoto img{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

#Welcome-text{
  float:right;

}



#projectSection{
  width:90%;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Roboto Mono;
  background-color:white;
  padding-bottom: 2em;
}

#projectSection p{
  padding-left: 20px;
  padding-right: 20px;
}

#projectSection a{
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper{
  display: flex;
  align-items:center;
}

.project{
  width:90%;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}

#movies{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  padding-bottom: 2em;
}

#TicTacToe{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  padding-bottom: 2em;
}



.screenshot{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding-top: 20px;
}




#about-me{
  width:90%;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  font-family: Roboto Mono;
  background-color:white;
  padding-bottom: 2em;
}
#about-me p{
	padding: 2em;
}
#contact{
  width:90%;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  font-family: Roboto Mono;
  background-color:white;
  padding-bottom: 2em;
}